* {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: black;
  
  margin: 0px;
  padding: 0px;

}

body {
    min-height: 100%;
    background: white;
}

header {
  background-color: white;

  width: 100%;
  
  a {
    text-decoration: none;
  }

  .logo {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;

    padding: 20px;

    vertical-align:baseline;

    .title {
        font-weight: 700;
        font-size: 25px;
        margin-left: 20%;
        line-height: 32px;
    }
    
    ul {
        display: flex;
        flex-direction: row;

        margin-right: 20%;

        li {
            margin-left: 5px;
            width: 30px;

            height: 30px;

            background-color: gray;
            color: white;

            list-style: none;
            padding: 1px;

            :hover {
                background-color: rgb(79, 78, 78);
            }
        }
    }
  }

  .menu {
    min-height: 40px;
    background-color: gray;
    font-size: 18px;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;

      margin-left: 20%;
      margin-right: 20%;

      gap: 60px;
      justify-content: center;

      li {
          float: left;
          line-height: 40px;
          vertical-align: middle;
          text-align: center;
          margin: 0;
          color: white;

            :hover {
                background-color: rgb(79, 78, 78);
            }
      }

      a {
        color: white;
      }
      
    }
  }

}