* {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: black;
  
  margin: 0px;
  padding: 0px;

}

body {
  min-height: 100%;
}



header {
  background-color: white;

  width: 100%;
  
  a {
    text-decoration: none;
  }

  .logo {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;

    padding: 20px;

    vertical-align:baseline;

    .title {
        font-weight: 700;
        font-size: 25px;
        margin-left: 20%;
        line-height: 32px;
    }
    
    ul {
        display: flex;
        flex-direction: row;

        margin-right: 20%;

        li {
            margin-left: 5px;
            width: 30px;

            height: 30px;

            background-color: gray;
            color: white;

            list-style: none;
            padding: 1px;

            :hover {
                background-color: rgb(79, 78, 78);
            }
        }
    }
  }

  .menu {
    min-height: 40px;
    background-color: gray;
    font-size: 18px;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;

      margin-left: 20%;
      margin-right: 20%;

      gap: 60px;
      justify-content: center;

      li {
          float: left;
          line-height: 40px;
          vertical-align: middle;
          text-align: center;
          margin: 0;
          color: white;

          :hover {
              background-color: rgb(79, 78, 78);
          }
      }

      .dropdown {
        display: flex;
        flex-direction: column;
      }

      a {
        color: white;
      }
      
    }
  }

}

.page-content {
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#d1cfcf 2px, #ffffff 2px);
  background-size: 40px 40px;
  min-height: 90vh;

  .quad1 {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
}

footer {
  background-color: rgb(92, 92, 92);
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 50px;

  .logo-footer {
    margin-left: 20%;
    width: 18%;

    p {
      color: rgb(183, 183, 183);
      margin-top: 5px;
    }

    a {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .links {
    margin-right: 20%;

    ul {
      margin-top: 5px;
    }

    li {
      color: rgb(183, 183, 183);
      list-style: none;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: auto;

    h1 {
      color: white;
      font-size: 25px;
      font-weight: 700;
    }

    a {
      text-decoration: none;
      color: white;

    }
  }

}

@media (max-width: 800px)
{
  footer {
    flex-direction: column-reverse;

    .links {
      margin: auto;
      width: 90%;
    }

    .logo-footer {
      width: 90%;
      margin: auto;
      padding-top: 30px;
    }
  }
}