{% extends "base.html" %}

{% block content %}
<h1 class="text-[25px] pt-[3vh] pb-[2vh] font-bold text-center">Recent Posts</h1>
{{ section.content | safe }}
{% endblock content %}

{% block articles %}

  {% for page in paginator.pages %}
    <article class="text-center max-w-[400px]">
      <a href="{{ page.permalink }}" class="hover:text-gray-400">
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
        <time class="text-[18px] text-gray-400"datetime="{{ page.date }}">{{ page.date | date(format="%Y-%m-%d") }}</time>
      </a>
    </article>
  {% endfor %}
    
{% endblock articles %}